  /* Základní nastavení */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

/* Pozadí celé stránky */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('assets/Background.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.home {
  display: flex;
  cursor: pointer;
  position: fixed;
  top: 20px;

  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  left: 50%;
  transform: translateX(-50%);
}



/* Sekce - obecné stylování pro texty */
.about-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.6;
  font-size: 1.1rem;
  width: 100%;
  max-width: 500px;
 

  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-height: calc(100vh - 80px);
  overflow: auto;

 

}
.about-text-more {
  text-align: center;
  line-height: 1.6;
  font-size: 1.1rem;
  width: 100%;
  max-width: 500px;
 


  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-height: calc(100vh - 400px);
  overflow: auto;


}


/* Styly pro jednotlivé sekce */


.section {
  height: 100vh;
  justify-items: center;
  align-content: center;
}

/* Obsahové boxy */
.content-box {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 900px;
  width: 100%;
  max-height: calc(100vh - 80px);
  overflow: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.content-box img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Titulky a texty */
h2 {
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
  color: #333;
}

/* HAMBURGER MENU */
#menu-toggle {
  display: none;
}

.hamburger {
  display: flex;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.hamburger-subsection{
  font-size: 15px;
  cursor: pointer;
  right: 20px;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease;
  z-index: 1000;
}

.mobile-nav ul {
  list-style: none;
  text-align: center;
}

.mobile-nav li {
  margin: 20px 0;
}

.mobile-nav a {
  text-decoration: none;
  font-size: 22px;
  color: #333;
  transition: color 0.3s ease;
}

.mobile-nav a:hover {
  color: #007bff;
}

/* Zobrazení mobilní navigace při aktivaci menu */
#menu-toggle:checked + .hamburger + .mobile-nav {
  right: 0;
}

/* GALERIE */
.gallery {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  scroll-snap-type: x mandatory;
}

.gallery-item {
  flex: 0 0 auto;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  text-align: center;
}

.gallery::-webkit-scrollbar {
  height: 10px;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Tlačítka pro galerii */
.arrow {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  font-size: 0.7rem;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  transition: background-color 0.2s;
}

.arrow:hover {
  background-color: rgba(220, 220, 220, 0.9);
}

.arrow.left {
  position: absolute;
  left: -25px;
}

.arrow.right {
  position: absolute;
  right: -25px;
}

/* FORMULÁŘ */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.form-group {
  text-align: left;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  overflow: auto;
}

textarea {
  min-height: 100px;
  max-height: 200px;
}

input {
  height: 40px;
}

.btn-submit {
  background-color: #f9f9f9;
  color: #111;
  border: 1px solid #ccc;
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  grid-area: 3;
 

  

}

.btn-submit:hover {
  background-color: #e6e6e6;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Profilový box */
#profile-box {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 200px;
  width: 100%;
  max-height: calc(100vh - 80px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

#profile-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;   /* zachová poměr stran */
}

/* Kategorie a podkategorie */
.category-container, .subcategory-container, #projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  
}

.category, .subcategory, .project-item {
  padding: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;
}

.category.active {
  background-color: #e0e0e0;
}

.subcategory-container, #projects {
  display: none;
  flex-direction: column;
}

.subcategory-title {
  padding: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.subcategory-third-level {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;
}

.close{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(212, 130, 130);
  transition: background-color 0.2s ease;

}
.back {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(212, 130, 130);
  transition: background-color 0.2s ease;
  margin-top: 65px;
}

/* Projektové položky */
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  text-align: center;
}

.project-item img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 10px auto;
}

/* Model viewer */
model-viewer {
  width: 200px;
  height: 200px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* Wrapper pro modely */
.model-wrapper {
  position: relative;
  display: inline-block;
}

/* Tlačítko pro zoom */
.zoom-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Projekty */
#projects {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Galerie s posuvníkem */
.gallery-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
}

.gallery-track {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

/* Šipky pro posuvník */
.prev, .next {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Statistiky */
.statistics-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.project-item {
  flex: 0 0 220px; /* Šířka každého náhledu */
  box-sizing: border-box;
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.gallery-arrow {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 5;
}

#left-arrow {
  left: 10px;
}

#right-arrow {
  right: 10px;
}

.subcategory-btn {
  padding: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;

  justify-content: center;


}

.subcategory-title-box {
  padding: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.img-category {
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 125px;
  object-fit: cover;
  border-radius: 15px;
}
.img-category-web {
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 125px;
  object-fit:contain;

  
}


/* Animace */

.subcategory, .subcategory-btn, .subcategory-container, .subcategory-title, .subcategory-title-box, .subcategory-third-level, .category, .close, .back, .hamburger-subsection, .gallery-wrapper, .about-text, .about-text-more {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
}




@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bar {
  height: 5px;
  width: 30px;
  background-color: #333;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Efekt pro křížek po kliknutí */
.hamburger.active {
  background-color: #333;
  transform: scale(1.1) rotate(15deg);
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}


.home.active {
  background-color: #333;
  transform: scale(1.1) rotate(15deg);
}
.home.active  {
  color: white;
}


/* Rresonzivita rpo Iphone SE */
@media (max-height: 568px) {
  .img-category {
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 80px;
    object-fit: cover;
    border-radius: 15px;
  }
  .img-category-web {
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 80px;
    object-fit:cover;
  
    
  }
 
  h1, h2 {
    font-size: 14px;
  }
}

/*Responzivita pro PC*/
@media (min-width: 600px) {
  .img-category {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  .img-category-web {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;
    object-fit:cover;
  
  }
  
  
}