.home {
    display: flex;
    cursor: pointer;
    position: fixed;
    top: 20px;
  
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  
  /* Sekce - obecné stylování pro texty */
  .about-text {
 
    line-height: 1.6;
    font-size: 1.1rem;
    width: 100%;
    max-width: 500px;

  
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  
      text-align: center;
  line-height: 1.6;
  font-size: 1.1rem;
  max-width: 800px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-height: calc(100vh - 80px);
  overflow: auto;
  
   
  
  }
  .about-text-more {
    text-align: center;
    line-height: 1.6;
    font-size: 1.1rem;
    width: 100%;
    max-width: 500px;
   
  
  
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-height: calc(100vh - 400px);
    overflow: auto;
  
  
  }
  
  
  /* Styly pro jednotlivé sekce */
  
  
  .section {
 

    height: 100vh;
    justify-items: center;
    align-content: center;
    
  }

  .section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  overflow: hidden;
}

  
  /* Obsahové boxy */
  .content-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 900px;
    width: 100%;
    max-height: calc(100vh - 80px);
    overflow: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .content-box img {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  .gallery {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    scroll-snap-type: x mandatory;
  }
  
  .gallery-item {
    flex: 0 0 auto;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
    text-align: center;
  }
  
  .gallery::-webkit-scrollbar {
    height: 10px;
  }
  
  .gallery::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
/* Profilový box */
#profile-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 200px;
    width: 100%;
    max-height: calc(100vh - 80px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  
  #profile-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;   /* zachová poměr stran */
  }

  /* Kategorie a podkategorie */
.category-container, .subcategory-container, #projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
   
    
  }
  
  .category, .subcategory, .project-item {
    padding: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
  }
  
  .category.active {
    background-color: #e0e0e0;
  }
  
  .subcategory-container, #projects {
    display: none;
    flex-direction: column;
  }
  
  .subcategory-title {
    padding: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .subcategory-third-level {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
  }
  